<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>BG --Removal</title>
    <style type="text/css">
        label{
          display: inline-block;
          background-color: cornflowerblue;
          color: white;
          padding: 0.5rem;
          font-family: sans-serif;
          border-radius: 0.3rem;
          cursor: pointer;
          margin-top: 1rem;
        }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('home') }}">
        <img src="https://ews.appcilious.com/uploads/company/9c2522ee153f5ed140ed3d7551e3aed2.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        </a>
    </nav>
    
    <div class="container h-100 d-flex justify-content-center" style="margin-top: 2rem;">
        <div class="jumbotron my-auto" style="box-shadow: 2px 8px 17px 0px #8888;">
        <h3>
            Upload an image to <b>remove</b> the <b>background</b>
        </h3>

        <div style="margin-left: 10rem;">
      <form action="{{ url_for('pred') }}" method="POST" enctype="multipart/form-data">
            <input type="file" id="upload" name="file" accept="image/*" required hidden/>
            <label for="upload">Choose file</label>
            <button type="submit" class="btn btn-secondary">Submit</button>
      </form>
        </div>


        <div style="margin-top: 1rem;">
            <span>Don't have an image, choose from these:</span>
            <a href="{{ url_for('One') }}"><img src="https://i.ibb.co/YWszpXr/Car.jpg" alt="Car" border="0" width="100"></a>
            <a href="{{ url_for('Two') }}"><img src="https://i.ibb.co/YTkjPgC/1-1.jpg" alt="1-1" border="0" width="100"></a>
            <a href="{{ url_for('Three') }}"><img src="https://i.ibb.co/DKLsSxK/Dog.jpg" alt="Dog" border="0" width="100"></a>
        </div>


    </div>
 </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" ></script>

  </body>
</html>